/****** Main Styling ******/

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

p {
  font-size: 1.1em;
  color: #555;
}

.endpoint {
  margin-top: 30px;
  font-family: monospace;
  color: #007acc;
}
